{{ define "main" }}

{{ $partial := print "home/" .Site.Params.homepage.layout ".html" }}

{{ if templates.Exists (printf "partials/%s" $partial) }}
  {{ partial $partial . }}
{{ else }}
  {{ partial "home/profile.html" . }}
{{ end }}

  {{/* Paginate all regular pages (posts) */}}
  {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}

  <section class="mt-12 w-full grid gap-4 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4">
    {{ range $paginator.Pages }}
      {{ partial "article-link/card.html" . }}
    {{ end }}
  </section>

  {{ partial "pagination.html" . }}

{{ end }}
